.page-3{
height: 500px;
background-color: rgb(0, 32, 44);
margin-top: 20%;
border-radius: 5px;
}

.page-3__img img{
position: relative;
margin-left: 52%;
margin-top: -48px;

}

.page-3__title{
color: white;
margin-top: -35%;
}

.page-3__text p{
color: white;
width: 460px;
font-family:'Courier New', Courier;
margin-left: 70px;
}