.page-1{
    margin-top: 100px;
}

.page-1__img img{
    width: 100%;
    height: 550px;
}

.page-1__title{
    width: 329px;
    height: 97px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-top: -400px;
    margin-left: 30px;
    position: relative;
}

.page-1__text{
    width:500px;
    color: white;
    font-family:'Courier New', Courier;
    margin-left: 30px;
}

.page-1__submit button{
    margin-left: 30px;
    border: none;
    background-color: rgb(2, 131, 114);
    margin-bottom: 200px;
    width: 125px;
    height: 35px;
    border-radius: 5px;
    color: rgb(241, 241, 241);
    font-family: sans-serif;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(6, 182, 167);
    color: rgb(5, 5, 5);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(1, 238, 255);
}
