.page-4__title{
    color: rgb(85, 82, 82);
    font-family: serif;
}

.page-4__big-box{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50%;
    width: 1045;
    margin: 100px auto;
}

.page-4__box1{
    margin-left: 7%;
    margin-right: 150px;
}

.page-4__box2{
    margin-right: 180px;
}
