.page-1{
    margin-top: 7%;
}

.page-1__img img{
    width: 100%;
}

.page-1__title{
    color: white;
    margin-top: -380px;
    margin-left: 10px;
    font-weight: 900;
}

.page-1__text{
    margin-bottom: 30%;
    width: 400px;
    color: white;
    margin-left: 75px;
    font-weight: 10;
    font-family:'Courier New', Courier;
}
